*{
    margin: 0;
    padding: 0;
}

.container-fluid{
    width: 100vw;
    height: 500px;
    background-color: black;
}

.Bold{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';
    padding-left: 100px;  
    padding-Top: 100px;  
    color: antiquewhite;
}

.Ptag{
    font-size: 20px;
    padding-left: 100px;  
    font-family: 'Franklin Gothic Medium';
    color: antiquewhite;
}

.containern{
    width: 100vw;
    height: 35rem;
    background-color: black;
    align-content: center;
}

.containern h1{
    justify-content: center;
    align-items: center;
    color: aliceblue;
    text-align: center;
    padding: 10px;
    font-size: 50px;
}

.input{
    text-align: center;
    font-size: 30px;
    width: 50vw;
    display: block;
    margin-top: 5px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.ready{
    font-size: 25px;
    text-align: center;
    padding-top: 20px;
}
.containern.whole{
    display: flex;
}

